$black: #333;
$white: white;
$lightblue: #5C748B;

.nav {
    background: rgba(94,94,94,1);
    background: -moz-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,94,94,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(94,94,94,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#000000', GradientType=0 );
    color:grey;
    height:55px;

    ul {
        padding-top: 15px;
        padding-bottom:15px;
        li {
            display: inline;
        a {
            color: $lightblue;
         }
        
         }
    }
 
}